body {
    --animationDuration: 10s;
    --lowerBound: 35%;
    --upperBound: 65%;
}

#background { /* Just a container for the top and bottom elements */
    position: fixed;
    height: 100%;
    width: 100%;
}

#top {
    height: 100%;
    width: 100%;
    background-color: var(--colour2Transparent);
    border-bottom: 1px solid black;

    animation: backgroundAnimationTop var(--animationDuration);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#bottom {
    height: 100%;
    width: 100%;
    background-color: var(--colour1Transparent);

    animation: backgroundAnimationBottom var(--animationDuration);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes backgroundAnimationTop {
    from { height: var(--lowerBound); }
    to { height: var(--upperBound); }
}
@keyframes backgroundAnimationBottom {
    from { height: var(--upperBound); }
    to { height: var(--lowerBound); }
}