#renderingWindow {
    position: fixed;
    height: 100%;
    width: 100%;

    touch-action: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

    transform: none;
    -webkit-transform:translate3d(0,0,0);
    z-index: 1;
}

#decorationWindow {
    position: fixed;
    height: 100%;
    width: 100%;

    touch-action: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

    transform: none;
    -webkit-transform:translate3d(0,0,0);
    z-index: -1;
}

#scores {
    pointer-events:none;

    position: fixed;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    place-items: center;
}
.scoreLabel {
    height: max-content;
    width: max-content;
    font-size: 10rem;
}