@font-face {
    font-family: 'Impact';
    src: URL('/Assets/impact.ttf') format('truetype');
}
body {
    font-family: 'Impact';
    color: black;

    margin: 0;
    touch-action: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

    background-color: var(--colour2Transparent);
}
#main {
    height: 100%; /* This is so I can change the bodies background colour without affecting the red and blue colours due to opacity, in fullscreen PWA mode */
    width: 100%;
    background-color: white;
    border-top: 1px solid black;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    transform: none;
    -webkit-transform:translate3d(0,0,0);
    z-index: -10;
}

.menu {
    position: fixed;
    height: max-content;
    width: max-content;
    padding: 20px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 1.8rem));

    background-color: var(--menuColour);
    border: 1px solid black;

    text-align: center;
    
    -webkit-transform: translate(-50%, calc(-50% - 1.8rem)) translate3d(0,0,0);
    z-index: 2;
}
.menuButton {
    height: 40px;
    width: 90%;
    margin-bottom: 15px;

    background-color: var(--menuColour);
    border: 1px solid black;
    font-size: 1.2rem;
}
.menuButton:active {
    background-color: var(--menuColourActive);
}
.menuButton:last-of-type {
    margin-bottom: 0;
}